@import "../../node_modules/slick-carousel/slick/slick.css";
@import "../../node_modules/slick-carousel/slick/slick-theme.css";
@font-face {
    font-family: 'Lato';
    src: url('./fonts/Lato-Regular.ttf');
}
@font-face {
    font-family: 'Lato-Light';
    src: url('./fonts/Lato-Light.ttf');
}
@mixin font-lato-regular {
  font-family: 'Lato', sans-serif;
}
@mixin font-lato-light {
  font-family: 'Lato-Light', sans-serif;
}

$main-color: #6d9f03;
$font-color-first: white;
$font-color-second: #4a4a4a;
$font-color-third: #d6d6d6;

body {
  min-height: 670px;
  font-family: 'Lato', sans-serif;
}

.nav {
  background-color: rgba(0, 39, 118, 0.6);
  text-transform: uppercase;
  font-size: 12px;
  height: 50px;
  margin-right: 0;


  .container {
    padding: 0;
    display: flex;
    justify-content: flex-end;
    @include font-lato-regular;

    li {
      cursor: pointer;

      &:first-of-type {
        color: $font-color-first;
      }

      &:last-of-type {
        color: $main-color;
        margin-left: 25px;
      }
    }
  }
}

.search {
  height: 36px;
  border-radius: 100px;
  background-color: #ffffff;
  box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.22);
  display: flex;
  align-items: center;
  overflow: hidden;
  margin: 4% 7% 0;

  .magnif {
    width: 10%;
    height: 22px;
    margin-left: 2%;

    img {
      width: 100%;
      height: 100%;
      vertical-align: inherit;
    }
  }

    input {
      outline: none;
      border: none;
      width: 70%;
      @include font-lato-regular;
      font-size: 12px;
      color: $font-color-second;

      &::placeholder {
        color: $font-color-third;
      }
    }

    .btn {
      width: 20%;
      height: 100%;
      background-color: $main-color;
      @include font-lato-regular;
      color: $font-color-first;
      font-size: 14px;
      cursor: pointer;
      border-radius: 0;
      border: none;
      outline: none;
    }
  }

.slick-slider {
  min-height: 510px;
}

.slick-slide {
  transition: ease-in-out all .4s;
  transform: scale(1.2, 1.2);
  position: relative;
  opacity: 0.4;

  @media(max-width: 992px) {
    transform: scale(0.8, 0.8);
  }

  &:hover {
    cursor: pointer;
  }

  img {
      display: block;
      width: 100%;
  }
}

.slick-center {
  transform: scale(1.9, 1.9);
  transition: ease-in-out all .4s;
  z-index: 2;
  // overflow: hidden;
  opacity: 1;

  @media(max-width: 992px) {
    transform: scale(1, 1);
  }
}
.slick-list {
  padding-top: 16% !important;
  height: 65vh !important;
  min-height: 435px;

  @media(max-width: 992px){
    min-height: 580px;
    padding-top: 0 !important;
  }
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: $font-color-first;

  .copyright {
    font-size: 12px;
  }

  .bot-menu {
    font-size: 14px;

    div:last-of-type{
      margin-left: 15px;
    }
  }
}

.slick-arrow-next {
    position: fixed;
    top: 45%;
    right: 10%;
    cursor: pointer;

    @media(max-width: 1370px){
      right: 3%;
    }
}

.slick-arrow-prev {
    position: fixed;
    top: 45%;
    left: 10%;
    cursor: pointer;

    @media(max-width: 1370px){
      left: 3%;
    }
}

@keyframes modal-anim {
  from {opacity: 0}
  to {opacity: 1}
}

.modal.show {
  align-items: center !important;
  display: flex !important;

.modal-dialog {
  opacity: 1;
  animation: modal-anim .5s;
  width: 450px;
}
  .modal-content {
    border-radius: 10px;

    .modal-header {
      border-top-left-radius: 10px;
      background-color: $main-color;
      display: flex;
      justify-content: center;
      padding: 12px;
      margin-top: -4px;

      h4 {
        font-family: Lato, sans-serif;
        text-transform: uppercase;
        text-align: center;
        font-size: 16px;
        font-weight: bold;
        color: $font-color-first;
        margin-top: 1px;
        @include font-lato-regular;
      }
    }

    .modal-body, form {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .form-group {
      @include font-lato-light;
      margin: 0;

      &:last-of-type {
        margin-bottom: 10px;
      }

      label {
        font-size: 12px;
        font-weight: 300;
        color: $font-color-second;
        margin: 0;
      }

      input{
        width: 350px;
        background-color: #f2f0f0;
        @include font-lato-regular;
        border-radius: 10px;
        color: $font-color-second;
        font-size: 16px;
        padding: 8px 12px;
        outline: none;
        border: none;
      }
    }

    .btn-secondary {
      width: 300px;
      height: 35px;
      border: none;
      outline: none;
      border-radius: 100px;
      background-color: $main-color;
      margin: 5px;
      color: $font-color-first;
      font-size: 14px;
      cursor: pointer;
      @include font-lato-regular;

      &:nth-of-type(3) {
        background-color: #d6d6d6;
        margin-bottom: 14px;
      }

      &:hover {
        color: #292b2c;
        background-color: #e6e6e6;
        border-color: #adadad;
      }
    }

    .modal-body>h6 {
      margin: -1px;

      span {
        @include font-lato-light;
        font-size: 12px;
        font-weight: 300;
        color: $font-color-second;
      }
    }
  }
}
